extends layout

block content
  h1= title
  p Welcome to #{title}
  if(typeof(user) !== 'undefined')
    p You are logged in as #{user}.
  else
    p You are not logged in. <a href="/login"> Log in here </a>.
    p Don't have an account? <a href="/signup"> Sign up here</a>.

  h2 What is Whispertext?
  p. 
    Whispertext is a series of scrambled messages. Each scrambled message can be decrytped, and the method in which the message
    has been encrypted will vary and become more sophisticated as time goes on. The goal of the game is to decrypt as many of these
    messages as possible. You get points for submitting the correct decrypted message in response to a challenge, and bonus points for being
    one of the first few people to solve a particular challenge.
  p.
    While some of the earlier challenges may be solvable by inspection, the methods in which the hidden messages are encrypted will become more 
    and more sophisticated. Players may find that as time goes on they will need to apply knowledge of linguistics, mathematics, and even computer science
    in order to break the codes. Writing software to help you solve encrypted messages may be a good, or even vital idea. 
  p.
    If that worries you, don't be afraid. As the days go on, hints, tips, and explanations will become available for challenges. If you get stuck, you can
    use these resources to help you, with the penalty of a few of your points. 
  p.
    If you've made it this far, you're probably ready to start the first problem. You can get to it here , but you'll need to <a href="/signup">sign up</a> before you can submit your answer.
